.board-row:after {
  /* flex-direction: column; */
  clear: both;
  content: "";
  display: inline-block;
  /* padding: 0px; */
}

.singleRow {
  /* display: inline-block; */
  /* display: table;
  align-items: center; */
}

.square {
  background: #fff;
  border: 1px solid #008CBA;
  font-size: 15px; 
  font-weight: bold;
  line-height: 10px;
  height: 20px;
  text-align: center;
  width: 20px;
  /* margin-right: -2px;
  margin-top: -2px; */
}

.square:hover {
  cursor: pointer;
}

.margin-around-5px{
  margin: 5px 5px !important;
  background-color: white; /* Green */
  border: none;
  color: white;
  padding: 5px 5px;
  text-align: center;
  color: black;
  font-weight: bold;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  border-radius: 6px;
  border: 2px solid rgb(10, 10, 10);
  transition-duration: 0.4s;
}

.margin-around-5px:hover {
  background-color: #008CBA; /* Green */
  color: white;
  cursor: pointer;
}

.pura {
  text-align: center;
}

.game {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.upper {
  font-weight: bold;
  border: 2px solid black;
  margin-bottom: 5px;
  margin-left: 8%;
  margin-right: 8%;
  border-radius: 6px;
  padding-bottom: 5px;
  padding-top: 5px;
  padding-right: 20px;
  padding-left: 20px;
}

.upper:hover {
  background-color: #008CBA;
  color: white;
}

.slider:hover {
  cursor : pointer;
}
